<!DOCTYPE html> {% extends "base.html" %} {% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
{% for post in posts %}

<div>
    <p>{{ post.author.username }} says:
        <b>{{ post.body }}</b>
    </p>
    
</div>

{% endfor %} 
<iframe src="https://calendar.google.com/calendar/embed?title=Computer%20Science&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=800&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=4o1ule8a6976e1m1mrueb6i3h5oepce3%40import.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FLondon" style="border-width:0" width="800" height="800" frameborder="0" scrolling="no"></iframe>{% endblock %}